name: edgrantai
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - numpy
  - pandas
  - jupyter
  - ipykernel
  - pip

  - pip:
      - openai>=1.0.0
      - pydantic>=2.0
      - python-dotenv
      - requests